<div class="container">
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <img src="images/<%=pageTitle%>.png" />
        </div>
        <div class="column">
          <p class="title is-2">Oops!</p>
          <h1 class="title is-1 is-spaced"><%=pageTitle%></h1>
          <p class="subtitle is-3"><%=data.errorMessage%></p>
        </div>
      </div>
    </div>
  </section>
</div>
