<div class="container">
  <section class="section">
    <div class="container">
      <h1 class="title">Welcome to the simple Invoice App <%=pageTitle%></h1>
      <p class="subtitle">using <strong>express js</strong>!</p>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2 class="title">Quick links</h2>
      <div class="columns">
        <div class="column">
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <img class="image is-32x32" src="images/shortcut1.png" />
              </div>
              <div class="level-item">
                <p class="subtitle is-5"><a href="/invoices">List of all invoices</a></p>
              </div>
            </div>
          </nav>
        </div>
        <div class="column">
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <img class="image is-32x32" src="images/shortcut2.png" />
              </div>
              <div class="level-item">
                <p class="subtitle is-5"><a href="/invoice">Generate a new invoice</a></p>
              </div>
            </div>
          </nav>
        </div>
        <div class="column">
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <img class="image is-32x32" src="images/shortcut3.png" />
              </div>
              <div class="level-item">
                <p class="subtitle is-5">
                  <a href="/merge-invoices">Generate a new invoice by merge</a>
                </p>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </section>
</div>
