<div class="container">
  <section class="section">
    <div class="container">
      <h1 class="title">Welcome to the simple Invoice App <%=pageTitle%></h1>
      <p class="subtitle">using <strong>express js</strong>!</p>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2 class="title">Quick links</h2>
      <div class="columns">
        <div class="column is-one-third">List of all invoices</div>
        <div class="column">Generate a new invoice</div>
        <div class="column">Generate a new invoice by merge</div>
      </div>
    </div>
  </section>
</div>
